.responsive {
    width: 100%;
    height: auto;
}

.bg-warning {
    background-color: #6096BA !important; /* Medium shade for navbar */
}
.navbar-brand{
    font-family: 'Gaegu', sans-serif; /*change the font name for what you have*/
    font-size: 2.25rem;
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: #274C77; /* Light shade for brand name & nav links for contrast */
}

.btn-info {
    color: #274C77; /* Light shade for text on info button */
    background-color: #A3CEF1; /* Accent color for button background */
    border-color: #000000; /* Dark shade for button border */
}

.btn-primary {
    color: #ffffff; /* Light shade for text */
    font-size: 150%;
    background-color: #274C77; /* Dark shade for primary button background */
    border-color: #274C77; /* Darkest shade for border */
    border-width: thick;
}

body {
    background-color: white; /* Light shade for body background */
}

.footerPlaceholder {
    background-color: #6096BA;
}
/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------
 */

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Add CSS styles for the card container with vertical scrolling */
.card-container {
    max-height: 350px; /* Adjust the maximum height as needed */
    overflow-y: auto;
  }
  
  /* Style the individual cards as needed */
  .card {
    width: 45%; /* Adjust the width as per your design, leaving a little space for margins */
    margin: 2%; /* Add margin between cards */
  }

  .bg-secondary {
    color: red;
  }
